body {
    background-color: darkgrey;
}

/* se edita los titulos principales centrandolos */
.container {
    border-radius: 20px;
}

#formulario {
    background-color: #E8E8E8;
    opacity: 0.9;
    border-radius: 20px;
    margin-top: 20px;
    padding-inline: 20px;
    padding: 40px;
    display: grid;
}

td {
    text-align: center;
    color: #000;
    word-wrap: break-word;
}

.container h2 {
    text-align: center;
    margin: 20px
}

label {
    font-size: 17px;
    font-weight: bold;
}

.table-responsive {
    background-color: #c5b1c5;
    opacity: 0.9;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px;
}


.table-responsive th,
h2 {
    text-align: center;
    color: #000;
}